<launch>
<arg name="node_start_delay" default="5.0" />  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d1"  output="screen">
  <param name="udp" value="udpin:localhost:14551"/>
  <param name="drone" value="D1"/>
  <param name="init_pose" value="0 -15 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d2"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14561" />
  <param name="drone" value="D2"/>
  <param name="init_pose" value="0 -12 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d3"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14571"/>
  <param name="drone" value="D3"/>
  <param name="init_pose" value="0 -9 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d4"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14581"/>
  <param name="drone" value="D4"/>
  <param name="init_pose" value="0 -6 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d5"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14591"/>
  <param name="drone" value="D5"/>
  <param name="init_pose" value="0 -3 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d6"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14601"/>
  <param name="drone" value="D6"/>
  <param name="init_pose" value="0 0 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d7"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14611"/>
  <param name="drone" value="D7"/>
  <param name="init_pose" value="0 3 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d8"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14621"/>
  <param name="drone" value="D8"/>
  <param name="init_pose" value="0 6 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d9"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14631"/>
  <param name="drone" value="D9"/>
  <param name="init_pose" value="0 9 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d10"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14641"/>
  <param name="drone" value="D10"/>
  <param name="init_pose" value="0 12 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d11"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14651"/>
  <param name="drone" value="D11"/>
  <param name="init_pose" value="0 15 0"/>
  </node>
  
  <node pkg="drone_swarming" type="movement_slave_try.py" name="d12"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14661"/>
  <param name="drone" value="D12"/>
  <param name="init_pose" value="0 18 0"/>
  </node>
  
</launch>
