<launch>
<arg name="node_start_delay" default="5.0" />  
  <node pkg="drone_swarming" type="movement.py" name="d1"  output="screen">
  <param name="udp" value="udpin:localhost:14551"/>
  <param name="d" value="D1"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d2"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14561" />
  <param name="d" value="D2"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d3"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14571"/>
  <param name="d" value="D3"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d4"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14581"/>
  <param name="d" value="D4"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d5"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14591"/>
  <param name="d" value="D5"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d6"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14601"/>
  <param name="d" value="D6"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d7"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14611"/>
  <param name="d" value="D7"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d8"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14621"/>
  <param name="d" value="D8"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d9"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14631"/>
  <param name="d" value="D9"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d10"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14641"/>
  <param name="d" value="D10"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d11"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14651"/>
  <param name="d" value="D11"/>
  </node>
  
  <node pkg="drone_swarming" type="movement.py" name="d12"  output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >
  <param name="udp" value="udpin:localhost:14661"/>
  <param name="d" value="D12"/>
  </node>
  
  


</launch>
